.footer-left {
  height: 50px;
  text-align: center;
  
  p {
    @include vertical-align();
  }
}

.footer-right {
  height: 50px;
  text-align: center;
 
  .credit {
    @include vertical-align();
  }
}