#content-row-1 {
  background-color: #007399;
}

#content-row-2 {
  background-color: #fff;
  
  #inspira-logo {
    height: 300px;
    overflow: hidden;
    text-align: center;
    
    img {
      display: inline-block;
      @include vertical-align();
      margin: 0 auto;
    }
    
    #inspira-text {
      display: inline-block;
      @include vertical-align(); 
    } 
  }
 
}

#content-row-3 {
  background-color: #fff;
  
  #warmuth-logo {
    height: 300px;
    overflow: hidden;
    text-align: center;
    
    img {
      display: inline-block;
      margin: 15px auto;
    }
    
    #warmuth-text {

    } 
  }
   
}

#content-row-4 {
  background-color: #fff;
  
  #bidic-logo {
    height: 250px;
    overflow: hidden;
    text-align: center;
    
    .asa-logo-box {
      background-color: $primary-color;
      padding: 5px;
      @include vertical-align();
    
      img {
        display: inline-block;
        margin: 15px auto;
      }
    }
    
    #bidic-text {
      @include vertical-align();
    } 
  }
   
}