#content-row-1 {
  background: linear-gradient($secondary-color, #fff, $secondary-color);
  padding: 5px 0 0 0;
  
  .home-about-container1 {
    padding: 4% 1%;
    
    .home-about-content1 {
      color: white;
      font-size: 1.5rem;
      font-weight: 500;
      text-align: center;
    }
  }

  .home-about-container2 {
    padding: 3% 1%;
    
    .home-about-content2 {
      font-size: 1.1rem;
      color: white;
    }
  }
}

#content-row-2 {
  background: linear-gradient($secondary-color, #fff 20%);
  padding-top: 45px;
  
  #inspira-logo {
    height: 385px;
    overflow: hidden;
    text-align: center;
    
    @include breakpoint(xs) {
      height: 450px;  
    }
    
    img {
      display: inline-block;
      @include vertical-align();
      margin: 0 auto;
    }
    
    #inspira-text {
      display: inline-block;
      @include vertical-align(); 
    } 
  }
 
}

#content-row-3 {
  background-color: #fff;
  
  #warmuth-logo {
    overflow: hidden;
    text-align: center;
    
    img {
      display: inline-block;
      margin: 15px auto;
    }
    
    #warmuth-text {

    } 
  }
   
}

#content-row-4 {
  background-color: #fff;
  
  #bidic-logo {
    height: 340px;
    overflow: hidden;
    text-align: center;
    
    .asa-logo-box {
      background-color: $primary-color;
      padding: 5px;
      @include vertical-align();
    
      img {
        display: inline-block;
        margin: 15px auto;
      }
    }
    
    #bidic-text {
      @include vertical-align();
    } 
  }
   
}
