header {
  img {
    float: left;
  }
}

.title-bar {
  background-color: #333;  
}

.top-bar {
  background-color: #333;
  padding: 0px;
  
  @include breakpoint(sm) {
    margin-top: 5px;
  }

  a {
    color: white;
    font-weight: 500;    
  }
  
  a:hover {
      
  }
  
  ul.dropdown {
    text-align: center;
    background-color: #333;
    
    li {
      display: inline-block;

      a {
        
      }

    }
    
    li:hover {
      background-color: $secondary-color;
    }
  }  
}
