header {
  #blue-panel {
    display: none;  
  }
  
  #header-text {
    display: none;
  }
  
  .header-text {
    width: 50%;
    font-weight: 500;
    font-size: 1.3rem;
    font-family: 'Roboto Slab', serif;
    padding: 10px 0;
    text-align: center;
    float: left;
    margin-left: 18px;

    @include breakpoint(sm) {
      width: 61%;
    }
  }
  
  @include breakpoint(xs) {
 
  }
  
  @include breakpoint(sm) {
    #blue-panel {
      display: inherit;
    }
    #header-text {
      display: inherit;
    }
    
    img {
      margin-bottom: 0px;
    }
  }
  
  img {
    float: left;
    margin-bottom: 10px;
  }
}

.title-bar {
  background-color: #333;  
}

.top-bar {
  background-color: #333;
  padding: 0px;
  
  @include breakpoint(sm) {
    margin-top: 5px;
  }

  a {
    color: white;
    font-weight: 500;    
  }
  
  a:hover {
      
  }
  
  ul.dropdown {
    text-align: center;
    background-color: #333;
    
    li {
      display: inline-block;

      a {
        
      }

    }
    
    li:hover {
      background-color: $secondary-color;
    }
  }  
}
