#book {
  margin: 0 auto;
}
.guide-container ul > li > img {
  max-height: 1200px;
}

.guide-page-title {
  text-align: center;
  padding: 15px 0;
  
  h1 {
    font-size: 6rem;
    
    @include breakpoint(md) {
      font-size: 4rem;
    }
  }
}

.guide-title {
  text-align: center;  
}

.guide-preview {
  text-align: center;
  padding: 10px 5px;
  -webkit-transition: all .5s;
  transition: all .5s;
  margin: 20px 0;
  
  h3 {
    font-size: 4.5rem;
    
    @include breakpoint(md) {
      font-size: 2.5rem;
    }
  }
  
  img {
    width: 75%;
  }
}

#mybook {
  margin: 0 auto;
}