#book {
  margin: 0 auto;
}

#book-container {
  padding: 60px 0 0 0;
  width: 375px;
  height: 675px;
  overflow: hidden;
  
  @include breakpoint(md) {
    overflow: visible;
  }
}

.flex-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;  
}

.guide-container ul > li > img {
  max-height: 1200px;
}

.guide-page-title {
  text-align: center;
  padding: 15px 0;
  
  h1 {
    font-size: 2.5rem;
    
    @include breakpoint(md) {
      font-size: 4rem;
    }
  }
}

.guide-title {
  text-align: center;  
}

.guide-preview {
  text-align: center;
  padding: 10px 5px;
  -webkit-transition: all .5s;
  transition: all .5s;
  margin: 20px 0;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  
  h3 {
    font-size: 2.3rem;
    
    @include breakpoint(md) {
      font-size: 2.5rem;
    }
  }
  
  img {
    width: 75%;
  }
}

#mybook {
  margin: 0 auto;
}

.wowbook-toolbar {
  width: 120%;
  left: 0px;
}