.cf:before,
.cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

.cf {
  zoom: 1; }

.right {
  float: right; }

.left {
  float: left; }

.ctr {
  text-align: center; }

.nopad {
  padding: 0; }

.clearfix {
  clear: both; }

.divider {
  overflow: hidden;
  clear: both;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.75), transparent);
  margin: 30px 0; }

/* Social Icons */
ul.social {
  list-style: none; }
  ul.social li {
    display: inline-block;
    width: 55px;
    text-align: center; }
    ul.social li a:visited {
      color: #fff; }

#social {
  margin: 0px;
  text-align: center; }

.smGlobalBtn {
  /* global button class */
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border: 2px solid #ddd;
  /* add border to the buttons */
  box-shadow: 0 3px 3px #999;
  padding: 0px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-size: 25px;
  font-weight: normal;
  line-height: 2em;
  border-radius: 27px;
  -moz-border-radius: 27px;
  -webkit-border-radius: 27px;
  transition: all 1s;
  -webkit-transition: all 1s; }

/* facebook button class*/
.facebookBtn {
  background: #4060A5; }

.facebookBtn:before {
  /* use :before to add the relevant icons */
  font-family: "FontAwesome";
  content: "\f09a";
  /* add facebook icon */ }

.facebookBtn:hover, .facebookBtn:hover:visited {
  color: #4060A5;
  background: #fff;
  border-color: #4060A5;
  /* change the border color on mouse hover */ }

/* youtube button class*/
.youtubeBtn {
  background: #e62117; }

.youtubeBtn:before {
  /* use :before to add the relevant icons */
  font-family: "FontAwesome";
  content: "\f167";
  /* add youtube icon */ }

.youtubeBtn:hover, .youtubeBtn:hover:visited {
  color: #e62117;
  background: #fff;
  border-color: #e62117;
  /* change the border color on mouse hover */ }

/* mail button class*/
.mailBtn {
  background: #333; }

.mailBtn:before {
  /* use :before to add the relevant icons */
  font-family: "FontAwesome";
  content: "\f003";
  /* add youtube icon */ }

.mailBtn:hover, .mailBtn:hover:visited {
  color: #333;
  background: #fff;
  border-color: #333;
  /* change the border color on mouse hover */ }

.size-12 {
  font-size: 12px; }

.size-14 {
  font-size: 14px; }

.size-16 {
  font-size: 16px; }

.size-18 {
  font-size: 18px; }

.size-21 {
  font-size: 21px; }

.size-24 {
  font-size: 24px; }

.size-36 {
  font-size: 36px; }

.size-48 {
  font-size: 48px; }

.size-60 {
  font-size: 60px; }

.size-72 {
  font-size: 72px; }

.about-content {
  margin-top: 20px; }
  .about-content .about-title {
    float: left;
    margin: 20px 0 25px 0; }
    .about-content .about-title p {
      text-align: center;
      font-size: 24px;
      font-weight: 500; }
    @media (max-width: 767px AND screen) {
      .about-content .about-title {
        width: 600px; } }
  .about-content .about-us-pic {
    margin: 20px 0; }
    .about-content .about-us-pic img {
      float: none; }
  .about-content h4 {
    font-weight: 500; }
  .about-content .john-pic {
    float: left;
    margin-right: 20px;
    text-align: center; }
    .about-content .john-pic img {
      text-align: center;
      margin-bottom: 10px; }
    .about-content .john-pic p {
      font-weight: 500; }

/* contact page */
.contact-page.panel a {
  font: 1.4rem "Avenir Next";
  color: #fff;
  margin-top: 10px; }

.contact-page-divider {
  overflow: hidden;
  clear: both;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.75), transparent);
  margin: 30px 0; }

.contact-page.panel {
  margin: 3rem auto;
  border: 2px solid #444;
  background: #333;
  text-align: center;
  padding: 10px; }

.contact-page.panel p {
  font: 1.4rem "Avenir Next";
  padding: 1rem 2rem 1rem 2rem;
  color: white; }

.contact-page-link {
  text-align: center;
  padding-top: 20px; }

.contact-page.panel p span {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 75%;
  font-weight: bold; }

.contact-page.panel .sign {
  background: #fff;
  width: 150px;
  height: 2.4rem;
  border: 2px solid #444;
  position: relative;
  top: -2.0rem;
  margin: auto; }

.contact-page.panel .sign h1 {
  text-transform: uppercase;
  font: bolder 0.875rem "Avenir Next";
  letter-spacing: 3px;
  color: #666;
  font-size: 70%;
  text-align: center;
  line-height: 2.1rem; }

.contact-page-section {
  width: 100%;
  background-color: #009AC8;
  color: white;
  font-size: 1.3rem;
  padding: 5px;
  text-align: center;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px; }

.contact-page-section i {
  top: 1px;
  right: 8px;
  position: relative; }

.contact-section {
  margin-top: -10px; }

p.phone {
  padding: 0.5rem 2rem !important;
  margin: 0; }

hr.video-divider {
  margin: 3px; }

.video-info {
  text-align: left;
  margin-top: 15px; }

.video-page-title {
  text-align: center;
  margin-top: 2%;
  font-weight: bold; }

p.video-title {
  text-align: left;
  font-weight: bold;
  font-size: 1.8rem; }

.video-preview {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px; }

.video-preview iframe {
  height: 215px; }

.pagination-centered {
  margin: 2rem 0 1rem 0;
  text-align: center; }

.pagination a:hover {
  background-color: inherit; }

#content-row-1 {
  background: linear-gradient(#009AC8, #fff, #009AC8);
  padding: 5px 0 0 0; }
  #content-row-1 .home-about-container1 {
    padding: 4% 1%; }
    #content-row-1 .home-about-container1 .home-about-content1 {
      color: white;
      font-size: 1.5rem;
      font-weight: 500;
      text-align: center; }
  #content-row-1 .home-about-container2 {
    padding: 3% 1%; }
    #content-row-1 .home-about-container2 .home-about-content2 {
      font-size: 1.1rem;
      color: white; }

#content-row-2 {
  background: linear-gradient(#009AC8, #fff 20%);
  padding-top: 45px; }
  #content-row-2 #inspira-logo {
    height: 365px;
    overflow: hidden;
    text-align: center; }
    #content-row-2 #inspira-logo img {
      display: inline-block;
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      margin: 0 auto; }
    #content-row-2 #inspira-logo #inspira-text {
      display: inline-block;
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }

#content-row-3 {
  background-color: #fff; }
  #content-row-3 #warmuth-logo {
    overflow: hidden;
    text-align: center; }
    #content-row-3 #warmuth-logo img {
      display: inline-block;
      margin: 15px auto; }

#content-row-4 {
  background-color: #fff; }
  #content-row-4 #bidic-logo {
    height: 330px;
    overflow: hidden;
    text-align: center; }
    #content-row-4 #bidic-logo .asa-logo-box {
      background-color: #333;
      padding: 5px;
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
      #content-row-4 #bidic-logo .asa-logo-box img {
        display: inline-block;
        margin: 15px auto; }
    #content-row-4 #bidic-logo #bidic-text {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }

.guide-container ul > li > img {
  max-height: 1200px; }

.guide-page-title {
  text-align: center;
  padding: 15px 0; }

.guide-title {
  text-align: center; }

.guide-preview {
  text-align: center;
  padding: 10px 5px;
  -webkit-transition: all .5s;
  transition: all .5s; }
  .guide-preview img {
    width: 75%; }

#mybook {
  margin: 0 auto; }

header #blue-panel {
  display: none; }
header #header-text {
  display: none; }
header .header-text {
  width: 50%;
  font-weight: 500;
  font-size: 1.3rem;
  font-family: 'Roboto Slab', serif;
  padding: 10px 0;
  text-align: center;
  float: left;
  margin-left: 18px; }
  @media (min-width: 768px) {
    header .header-text {
      width: 61%; } }
@media (min-width: 768px) {
  header #blue-panel {
    display: inherit; }
  header #header-text {
    display: inherit; }
  header img {
    margin-bottom: 0px; } }
header img {
  float: left;
  margin-bottom: 10px; }

.title-bar {
  background-color: #333; }

.top-bar {
  background-color: #333;
  padding: 0px; }
  @media (min-width: 768px) {
    .top-bar {
      margin-top: 5px; } }
  .top-bar a {
    color: white;
    font-weight: 500; }
  .top-bar ul.dropdown {
    text-align: center;
    background-color: #333; }
    .top-bar ul.dropdown li {
      display: inline-block; }
    .top-bar ul.dropdown li:hover {
      background-color: #009AC8; }

.credit {
  float: right; }

.footer-left {
  height: 50px; }
  .footer-left p {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }

.footer-right {
  height: 50px; }
  .footer-right .credit {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }

.bio-content .warmuth-content {
  margin-top: 80px; }
  .bio-content .warmuth-content p {
    padding: 0px; }

.bio-section {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  background-color: #333;
  color: white;
  margin: 3rem auto;
  border: 2px solid #444;
  text-align: center;
  padding: 20px; }
  .bio-section .staff-container {
    margin-top: 40px; }
    .bio-section .staff-container .bio-name .bio-list {
      display: block;
      margin-left: auto;
      margin-right: auto;
      text-align: left; }
      .bio-section .staff-container .bio-name .bio-list button {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        border-radius: 5px; }
        .bio-section .staff-container .bio-name .bio-list button a {
          color: white; }
      .bio-section .staff-container .bio-name .bio-list h3,
      .bio-section .staff-container .bio-name .bio-list h4 {
        color: white; }
    .bio-section .staff-container .bio-name h2,
    .bio-section .staff-container .bio-name h3,
    .bio-section .staff-container .bio-name h4,
    .bio-section .staff-container .bio-name h5,
    .bio-section .staff-container .bio-name p {
      color: white; }
    .bio-section .staff-container .bio-name p {
      padding: 0 !important; }

.bio-pic {
  text-align: center; }
  .bio-pic img {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    max-height: 120px; }

.bio-title {
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
  margin-bottom: 35px; }

.warmuth-name {
  font-size: 1.4rem;
  margin: 10px 0; }

.warmuth-title {
  text-align: center;
  margin: 25px 0 10px 0; }

/*# sourceMappingURL=style.css.map */
