$primary-color: #333;
$secondary-color: #009AC8;
$light-blue: #A7D3D3;
$dark-blue: #343F42;


@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 767px) { @content; }
  }
 
  @else if $class == sm {
    @media (min-width: 768px) { @content; }
  }
 
  @else if $class == md {
    @media (min-width: 992px) { @content; }
  }
 
  @else if $class == lg {
    @media (min-width: 1200px) { @content; }
  }
 
  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin links($link: '#008CBA',  $hover: '#e62c25', $active: 'lighten($hover, 10%)', $focus: $hover, $visited: $link) {
  &:link    { color: $link;    }
  @if $visited {
    &:visited { color: $visited; }
  } @else {
    &:visited { color: $link; }
  }
  &:hover   { color: $hover;   }
  &:active  { color: $active;  }
  &:focus   { color: $focus;   }
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}

.right {
  float: right;
}

.left {
  float: left;
}

.divider {
  overflow: hidden;
  clear: both;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  margin: 30px 0;
}

/* Social Icons */


ul.social {
  float: right;
  list-style: none;
  
  li {
    display: inline-block;
    width: 55px;
    text-align: center;
  }
}

#social {
  margin: 44px 0px;
  text-align: center;
}

.smGlobalBtn { /* global button class */
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border:2px solid #ddd; /* add border to the buttons */
    box-shadow: 0 3px 3px #999;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: normal;
    line-height: 2em;
    border-radius: 27px;
    -moz-border-radius:27px;
    -webkit-border-radius:27px;
    transition: all 1s;
    -webkit-transition: all 1s;
}

/* facebook button class*/
.facebookBtn{
    background: #4060A5;
}

.facebookBtn:before{ /* use :before to add the relevant icons */
    font-family: "FontAwesome";
    content: "\f09a"; /* add facebook icon */
}

.facebookBtn:hover{
    color: #4060A5;
    background: #fff;
    border-color: #4060A5; /* change the border color on mouse hover */
}

/* youtube button class*/
.youtubeBtn{
    background: #e62117;
}

.youtubeBtn:before{ /* use :before to add the relevant icons */
    font-family: "FontAwesome";
    content: "\f167"; /* add youtube icon */
}

.youtubeBtn:hover{
    color: #e62117;
    background: #fff;
    border-color: #e62117; /* change the border color on mouse hover */
}

/* mail button class*/
.mailBtn{
    background: #333;
}

.mailBtn:before{ /* use :before to add the relevant icons */
    font-family: "FontAwesome";
    content: "\f003"; /* add youtube icon */
}

.mailBtn:hover{
    color: #333;
    background: #fff;
    border-color: #333; /* change the border color on mouse hover */
}
.size-12 { font-size: 12px; }
.size-14 { font-size: 14px; }
.size-16 { font-size: 16px; }
.size-18 { font-size: 18px; }
.size-21 { font-size: 21px; }
.size-24 { font-size: 24px; }
.size-36 { font-size: 36px; }
.size-48 { font-size: 48px; }
.size-60 { font-size: 60px; }
.size-72 { font-size: 72px; }

@import "about";
@import "contact";
@import "videos";
@import "home";
@import "resourceguide";
@import "main";
@import "footer";
@import "bidic";
@import "inspira";
@import "warmuth";

